<div>
  <h2 id="page-heading" data-cy="StudentHeading">
    <span jhiTranslate="jhipsterApp.student.home.title">Students</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="jhipsterApp.student.home.refreshListLabel">Refresh List</span>
      </button>
      <input type="text" class="form-control" [(ngModel)]="ime" />
      <button class="btn btn-info" (click)="loadAll1()">nadji</button>
      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-student"
        [routerLink]="['/student/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="jhipsterApp.student.home.createLabel"> Create a new Student </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="students?.length === 0">
    <span jhiTranslate="jhipsterApp.student.home.notFound">No students found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="students && students.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span jhiTranslate="global.field.id">ID</span></th>
          <th scope="col"><span jhiTranslate="jhipsterApp.student.name">Name</span></th>
          <th scope="col"><span jhiTranslate="jhipsterApp.student.age">Age</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let student of students; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/student', student.id, 'view']">{{ student.id }}</a>
          </td>
          <td>{{ student.name }}</td>
          <td>{{ student.age }}</td>
          <th>{{ ukupno }}</th>

          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/student', student.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/student', student.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(student)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
